* {
  margin: 0;
  padding: 0;
  font-family: Kanit;
  box-sizing: border-box;
  overflow-x: hidden;
  transition: all 0.4s ease-out;
}

.vd {
  position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100vh;
}
nav {
  width: 85%;
  z-index: 100;
  width: 85%;
  border-bottom: 1px solid white;
  padding: 14px 10px;
  background-color: transparent;
}
.words {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  list-style-type: none;
}
nav ul li {
  padding: 10px 10px;

  cursor: pointer;
  border-bottom: 2px solid rgba(0, 110, 255, 0);
}

nav ul li:hover {
  transition: all 0.4s ease-out;
  border-bottom: 2px solid rgb(0, 110, 255);
  transform: scale(1.05);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 18px;
}
nav ul li I {
  color: rgb(255, 255, 255);
  overflow-y: hidden;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 20px;
}
.logo {
  padding: 10px 10px;
  width: 80px;
  height: 80x;
}
body {
  background-color: black;
}
.logo {
  width: 74px;
  height: 75px;
}
.Istpage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  overflow-y: hidden;
}
.texts {
  flex-direction: column;
  display: flex;
  margin: 180px 10px;
  align-items: start;
  z-index: 100;
  width: 84%;
}
.button {
  z-index: 100;
}
.button button {
  color: white;
  background-color: rgb(0, 110, 255);
  border: none;
  padding: 12px 30px;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  top: 480px;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}
.ther {
  font-size: 31px;
  font-weight: 300;
  font-family: kanit;
  text-shadow: 2px 2px 2px black;
  color: white;
}
.five {
  font-size: 230px;
  position: relative;
  top: -90px;
  text-shadow: 2px 2px 2px black;
  left: 20px;
  font-weight: 140;
  color: white;
}
.other {
  position: relative;
  text-shadow: 2px 2px 2px black;

  top: -150px;
  font-size: 30px;
  font-weight: 300;
  font-family: barlow;
  color: white;
}
.phone-logo {
  background-color: white;
  border-radius: 50%;
  position: fixed;
  right: 60px;
  box-shadow: 0px 0px 10px black;
  bottom: 140px;
}
.phone-logo i {
  font-size: 20px;
  padding: 10px;
}
.texting {
  width: 84%;
  color: white;
}
.texting h5 {
  font-size: 15px;
  font-weight: 300;
  text-shadow: 2px 2px 2px black;

  font-family: barlow;
  color: white;
}
.texting h3 {
  font-size: 35px;
  font-weight: 320;
  font-family: barlow;
  color: white;
  text-shadow: 2px 2px 2px black;
}
.texting h2 {
  font-size: 45px;
  text-shadow: 2px 2px 2px black;

  font-weight: 370;
  font-family: barlow;
  color: white;
}
.button-2 button {
  color: white;
  background-color: rgb(0, 110, 255);
  border: none;
  padding: 12px 30px;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}
.button-2 button:hover {
  transition: all 0.4s ease-out;
  background-color: rgb(0, 84, 194);
}
.button button:hover {
  transition: all 0.4s ease-out;
  background-color: rgb(0, 84, 194);
}
.second {
  display: flex;
  background: url(e.png);
  background-size: cover;
  background-position: center;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.thrid {
  padding: 80px 10px 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}
.shop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.shop h5 {
  font-size: 15px;
  font-weight: 300;
  font-family: barlow;
}
.shop h1 {
  font-size: 45px;
  font-weight: 300;
  font-family: barlow;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card img {
  width: 400px;
  height: 150px;
}

.card h3 {
  font-size: 20px;
  font-weight: 300;
  font-family: barlow;
}

.card button {
  color: rgb(32, 32, 32);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(27, 27, 27);
  padding: 15px 30px;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  margin: 44px 2px;
  border-radius: 3px;
  cursor: pointer;
}
.card button:hover {
  outline: 1px solid black;
  color: black;
  transition: all 0.4s ease-out;
}
.forth {
  display: flex;
  background: url(bg2.png);
  background-size: cover;
  background-position: center;
  align-items: center;
  height: 60vh;
  justify-content: center;
}

.forth h1 {
  text-shadow: 2px 2px 2px black;
  color: white;
  font-size: 43px;
  font-weight: 380;
  font-family: barlow;
}

.forth button {
  color: rgba(241, 241, 241, 0.829);
  background-color: rgba(0, 110, 255, 0);
  border: 1px solid white;
  padding: 12px 100px;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 2px 2px black;
  display: inline-block;
  font-size: 19px;
  margin: 30px 2px;
  outline: none;
  cursor: pointer;
}

.forth button:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.281);
  outline: 1px solid white;
  transition: all 0.4s ease-out;
}
.flex {
  display: flex;
  align-items: center;
  background-color: rgb(184, 184, 184);
  justify-content: center;
  padding: 4% 20px;
}
.flex img {
  width: auto;
  height: auto;
}
.uls {
  box-shadow: 0px 0px 30px rgb(36, 36, 36);
  padding: 60px 20px;
  border-radius: 3px;
  background-color: rgb(204, 204, 204);
}
.uls li {
  margin: 10px;
  text-shadow: 2px 2px 2px white;
  font-size: 18px;
  font-weight: 500;
  color: rgb(1, 7, 8);
  font-family: monospace;
}
.uls h3 {
  word-spacing: 5px;
  font-size: 25px;
  text-shadow: 2px 2px 2px white;
  font-weight: 400;
  font-family: barlow;
}

/* .poster {
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* .poster img {
  width: 100%;
  height: auto;
}
.poster h5 {
  font-size: 15px;
  font-weight: 300;
  font-family: barlow;
}
.poster h1 {
  font-size: 35px;
  font-weight: 300;
  font-family: barlow;
}
.poster h4 {
  font-size: 25px;
  font-weight: 300;
  font-family: barlow;
} */

footer {
  display: flex;
  align-items: start;

  justify-content: space-evenly;
}
footer ul {
  list-style-type: none;
}

footer ul li {
  margin: 10px 20px;
  font-size: 18px;
  font-weight: 300;
  color: rgb(39, 39, 39);
}

footer ul li a {
  color: rgb(46, 46, 46);
  transition: all 0.3s ease-out;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}
footer ul li a:hover {
  color: rgb(2, 2, 2);
  text-decoration: none;
  transition: all 0.3s ease-out;
  font-size: 20px;
  font-weight: 400;
  text-decoration: 1px underline rgb(0, 102, 255);
}
.foot {
  padding: 7% 4%;
  background-color: rgb(235, 235, 235);
}
.foot i {
  font-size: 25px;
  cursor: pointer;
  color: rgb(36, 36, 36);
  margin: 10px 10px;
}
.foot .i {
  position: relative;
  bottom: -50px;
  left: 70px;
}
.last {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  background-color: white;
}
.a a {
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease-out;
  margin: 0px 10px;
}
.a a:hover {
  color: rgba(6, 59, 139, 0.918);
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease-out;
  margin: 0px 10px;
}
